.sidebar {
    background-color: #292929;
    padding: 15px;
    color: white;
    height: 100vf=h;
}

.open {
    width: 450px;
}

.closed {
    width: 60px;
    display: flex;

}

.shopping-icon {
    transition: transform ease-out 200ms;
    cursor: pointer;
}

.icon-open {
    transform: rotateY(180deg);
}