.about {
    margin-top: 50px;
    background-color: #ADF4FF;
    height: 400px;
    display: flex;
    align-items: center;
}

.about-intro {
    font-size: 40px;
    margin: auto 0 auto 200px;
}

.about-intro h1 {
    margin-bottom: 10px;
}

.about hr {
    width: 180px;
    height: 5px;
    background-color: #292929;
    border: none;
}

.about-intro span {
    color: #307580;
}

.about-intro p{
    width: 800px;
    font-size: 18px;
}