.categories {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}

.category {
    font-weight: 400;
}

.category:hover {
    color: #4EBBCC;
    cursor: pointer;
}

.selected {
    color: #4EBBCC;
}