.orders-view {
    height: 100vh;
    width: 100vh;
    margin: 0 auto;
}

.orders-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    justify-content: center;
    gap: 30px;
}